@import 'mixins';
.DetailedShopItem{
    @include widthAndHeight(90%,90%);
    @include grid(repeat(20,5%),repeat(20,5%));
    margin: auto;
    padding: 2% 2% 2% 2%;
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    .DetailedShopImage{
        @include widthAndHeight(100%,100%);
        object-fit: contain;
        grid-area: 1 / 1 / span 19 / span 6;
    }
    .DetailedShopTitle{
        @include flex(center,center);
        font-size: 1.5rem;
        font-weight: bold;
        grid-area: 1 / 8 / span 4 / span 14;
    }
    .DetailedShopDescription{
        @include flex(center,center);
        font-size: 1.1rem;
        grid-area: 7  / 8 / span 8 / span 14;
    }
    .DetailedShopPrice{
        font-size: 1.5rem;
        grid-area: 16  / 15 / span 2 / span 5 ;
    }
    .DetailedShopQuantity{
        font-size: 1.5rem;
        grid-area: 16  / 9 / span 2 / span 5 ;
    }
    .AddToCart{
        @include flex(center,center);
        font-size: 1.5rem;
        grid-area: 19  / 15 / span 2 / span 5 ;
    }
    .ToggleDetailed{
        @include flex(center,center);
        font-size: 1.5rem;
        grid-area: 19  / 9 / span 2 / span 5 ;
    }
}